<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">VideoPlayer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/videos" routerLinkActive="active">Playlist</a></li>
    </ul>
  </div>
</nav>

<!--RouterOutlet is one of the directives provided by the RouterModule-->
<div class="container">
  <router-outlet></router-outlet>
</div>
